body {
    background-image: url("./background.png");
}

.jumbotron-fluid {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;

}

.key {
    display: inline-block;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 5px;
    margin-left: 15;
    margin-right: 15;
}

.key:active {
    transform: scale(1.1);
}

